body{
       background-color: #EDE7D5;
       font-family: 'Montserrat', sans-serif;
       width: 1400px;
}



h1.title1{
             font-family: 'Ubuntu', sans-serif;
             font-style: italic;
             font-weight: bold;
             font-size: 65px;
             color: #EDE5D5;
             text-shadow:5px 2px 6px #000;
             background-color: #B1B199;
             width:600px;
             line-height:75px;
             border-radius: 0 0 50px 0;
 }

 div{
   display: block;
 }



 div.title1{
             box-shadow: 10px 10px 5px #888888;
}



 nav{
             display: block;
             position: relative;
             top:-95px;
             left:560px;
 }



 ul {
				     width: 800px;
             text-align: center;
             font-size: 25px;
             font-family: 'Montserrat', sans-serif;
    }



li {
		         display: inline;
		}



a {
				     text-transform: uppercase;
             padding: 20px;
             color: black;}



a:hover, a.on {
				     color: #cc3333;
             background-color: #EDE7D5;}


div.feature{
             display: block;
             background-color: #B28F91;
             line-height: 30px;
             margin-left:200px;
             margin-right:200px;
             margin-top:50px;
             margin-bottom:50px;
             padding: 20px;
             border-radius: 50px;
             color:#FFEED6;
}



article{
             display: block;
             font-size:20px;
}

dt.feature{
              font-weight: bold;
              font-style: italic;
              font-size: 20px;
              text-decoration: underline;
              line-height:50px;
}


p.feature{
              font-family: 'Ubuntu', sans-serif;
              font-style: italic;
              font-weight: bold;
              text-align: center;
              font-size: 30px;
}



img.goodfull{
              width:1200px;
              margin-left: 100px;
              margin-top: -50px;
              margin-bottom: 50px;
}


div.text{
             display: block;
             background-color: #99B2C1;
             line-height: 30px;
             margin-left:100px;
             margin-right:100px;
             margin-bottom:50px;
             padding: 20px;
             border-radius: 30px;
             color:#FFEED6;
             max-width: 450px;
             float: left;
             clear: left;
}

div.img{
             float: right;
             clear: right;
             display: block;
             margin-right:100px;
             margin-bottom:90px;
}


img.goodsource{
             width:600px;
             border-radius:50px;
             position: relative;
             top:20px;
}


div.subtext{
             display: block;
             background-color:#4CA2B6;
             line-height: 30px;
             margin-left:100px;
             margin-right:100px;
             margin-bottom:50px;
             padding: 20px;
             border-radius: 30px;
             color:#FFEED6;
             max-width: 1200px;
             float: left;
             clear: left;
}


img.circle{
             width:300px;
             border-radius:20px;
             margin-left: 435px;

}



img.timeline{
             width:1000px;
             border-radius:20px;
             margin-left: 80px;
}

img.continental{
             height:200px;
             border-radius:20px;
             margin-left: 250px;
}

img.bad{
              height: 400px;
              margin-left: 500px;
              margin-top: -50px;
              margin-bottom: 50px;
}


div.bad{
             display: block;
             background-color: #99B2C1;
             line-height: 30px;
             margin-bottom:50px;
             padding: 20px;
             border-radius: 30px;
             color:#FFEED6;
             max-width: 300px;
             float: left;
             margin-left: 10px;
}



div.notes{
             background-color: #B28F91;
             line-height: 30px;
             margin-left:200px;
             margin-right:200px;
             margin-top:50px;
             margin-bottom:50px;
             padding: 20px;
             border-radius: 50px;
             color:#FFEED6;
             text-align: justify;
             font-size: 20px;
}

font-family: 'Montserrat', sans-serif;
font-family: 'Coiny', cursive;
font-family: 'Ubuntu', sans-serif;


#4CA2B6
